In [7]:
import os
import sys

sys.path.insert(0, os.path.abspath('../src'))

En este notebook intentaremos ver cómo se vería el uso de los recursos que hemos generado (modelos mayormente) a la hora de arrojar predicciones sobre una nueva muestra.

In [8]:
import pandas as pd

df = pd.read_csv("../data/processed/scaled_data.csv")
df

     sepal_length  sepal_width  petal_length  petal_width  class
0       -0.900681     1.019004     -1.340227    -1.315444      0
1       -1.143017    -0.131979     -1.340227    -1.315444      0
2       -1.385353     0.328414     -1.397064    -1.315444      0
3       -1.506521     0.098217     -1.283389    -1.315444      0
4       -1.021849     1.249201     -1.340227    -1.315444      0
..            ...          ...           ...          ...    ...
145      1.038005    -0.131979      0.819596     1.448832      2
146      0.553333    -1.282963      0.705921     0.922303      2
147      0.795669    -0.131979      0.819596     1.053935      2
148      0.432165     0.788808      0.933271     1.448832      2
149      0.068662    -0.131979      0.762758     0.790671      2

[150 rows x 5 columns]

In [9]:
import joblib

position = 5

model = joblib.load("../model/best_model.joblib")
model.predict(df.iloc[position:(position+1), 0:4])

array([0])

El proceso final muy posiblemente recibirá 4 valores asociados a las variables de entrada.

In [10]:
from sklearn.datasets import load_iris

data = load_iris(as_frame=True)
data['data']

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
muestra_ejemplo = [[4.5, 3.0, 4.5, 0.3]]

In [12]:
from evaluation import predict

predict(muestra_ejemplo)

array([1])